<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Anuncio</title>
	<link rel="stylesheet" href="./css/styles.css" >
</head>
<body>
	<div>
		<h1>Criar um <span>anúncio</span></h1>
		<div>
			<div>
				<div>
					<label for="title">Título</label>  
					<input id="title" name="title" />
				</div>
				<div>
					<label for="goal">Meta</label>
					<input id="goal" name="goal" placeholder="R$ 0.000,00"/>
				</div>
				<div>
					<label for="pix">Meta</label>
					<input id="pix" name="pix" placeholder="00.000.000-00"/>
				</div>
			</div>
			<div>
				<label for="desc">Descrição</label>
				<textarea id="desc" name="desc" rows="4"></textarea>
			</div>
		</div>
		<div>
			<div>
				<h2>Vai dar tudo certo!</h2>
				<p>O nosso site irá fazer o possivel para que sua campanha seja um sucesso</p>
			</div>
			<button>Finalizar</button>
		</div>
	</div>
</body>